gen/com/example/mobilinfomation/R.java
*.png
gen/com/example/mobilinfomation/BuildConfig.java
bin/classes/com/example/utils/MyListView.class
bin/classes/com/example/utils/MemoryUtils.class
bin/classes/com/example/mobilinfomation/R.class
*.class
*.prefs
bin/AndroidManifest.xml
*.dex
bin/jarlist.cache
*.apk
bin/resources.ap_
*.jar